*{
    font-family: Arial;
}
body{
    background-color: hsl(0,14%,58%);
}
main{
width: 1140px;
margin: auto;
border: 1px solid black;
height: 1120px;
}

header{
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    border: 1px solid black;
}

